* {
    font-family: 'Ubuntu', sans-serif;
    color: bisque;
}

body {
    background-color: #354259;
    text-align: center;
}

.gameMode {
    color: #354259;
    font-size: 2rem;
    font-weight: bold;

    padding: 2rem;
    width: 50%;
    border-radius: 30px;
    margin-top: 2rem;
}

.gameMode:hover {
    background-color: bisque;
    color: black;
}

#game {
    justify-content: space-between;
    align-items: center;
}

#playerTurn {
    border: bisque solid 2px;
    padding: 1rem;
}

#controls {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    margin-right: 2rem;

    gap: 5rem;
}

#ingredientDisplay {
    display: flex;
    flex-wrap: wrap;
}
