* {
    font-family: 'Ubuntu', sans-serif;
    color: bisque;
}

body {
    background-color: #354259;
    text-align: center;
}

.gameMode {
    color: #354259;
    font-size: 2rem;
    font-weight: bold;

    padding: 2rem;
    width: 50%;
    border-radius: 30px;
    margin-top: 2rem;
}

.gameMode:hover {
    background-color: bisque;
    color: black;
}