* {
    font-family: 'Ubuntu', sans-serif;
    color: bisque;
}

body {
    background-color: #354259;
    text-align: center;
}

.gameMode {
    color: #354259;
    font-size: 2rem;
    font-weight: bold;

    padding: 2rem;
    width: 50%;
    border-radius: 30px;
    margin-top: 2rem;
}

.gameMode:hover {
    background-color: bisque;
    color: black;
}

/* #game {
} */

#console {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.consoleItem {
    background-color: bisque;
    color: #354259;
    border-radius: 30px;
    padding: 1.5rem;
}

#controls {
    display: flex;
    flex-direction: column;
}

#score, #score h3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    background-color: bisque;
    color: #354259;
    font-size: x-large;
    border-radius: 30px;
}

#dishDisplay {
    /* border: red solid 2px; */
    /* padding: 1rem; */
}

#ingredientDisplay {
    display: flex;
    flex-wrap: wrap;
}

.ingredientButton {
    color:rgb(96, 96, 96);
    
    padding: 1rem;
    border-radius: 20px;

    text-align: justify;
    justify-content: center;

    font-weight: bold;
}

.ingredientButton:hover {
    background-color: bisque;
    color: #354259;
}
