#header {
    margin: 3%;
    color: var(--palette-darkcream);
    font-size: 3em;
}

#container {
    display: flex;
    width: 100%;
    justify-content: center;
}

#assignments {
    margin: 10%;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

#assignments th, td{
    border: var(--palette-darkcream) solid 2px;
    padding: 5%;
}